<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>相册_$web_name$</title>
<meta name="keywords" content="相册，图片" />
<meta name="description" content="$web_name$的相册，$web_name$的图片。" />
<link href="/css/$web_theme$/style.css" rel="stylesheet" type="text/css" media="screen" />
<script  language="javascript" src="/js/slidealbum.js"></script>
</head>
<body>

<!-- wrap starts here -->
<div id="wrap">

	<!--header -->
	<div id="header">			
				
		<h1 id="logo-text"><a href="/" title="$web_name$">$web_name$</a></h1>		
		<p id="slogan">$web_slogan$</p>		
			
		<div id="header-links">
			<p>
			<a href="/">返回首页</a> | <a onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('$web_url$');" href="#">设为首页</a> | <a href="javascript:window.external.AddFavorite('$web_url$','$web_name$')">加入收藏</a>			
			</p>		
		</div>				
		
	<!--header ends-->					
	</div>
	
	<div id="header-photo"><img src="/images/outdoor/header-photo.jpg" width="930" height="206"  /></div>	
	
	<!-- navigation starts-->	
	<div  id="nav">
$web_menu$
	<!-- navigation ends-->	
	</div>					
			
	<!-- content-wrap starts -->
	<div id="content-wrap">
				
		<div id="content">
			<div class="Web_Position">您现在的位置：<a href="/">首页</a> > <a href="/$Album_FolderName$/">相册</a></div>
		<div class="clearfix"></div>		
<!--albumbox start-->

<div id="albumbox">
$list_block$
</div>
<!--albumbox end-->		
		<div style="clear: both;">&nbsp;</div>
		</div>
		
		<div id="sidebar">
			<ul>
	<li>		<div id="search">
			<form method="get" action="/$Search_FolderName$/index.asp">
				<fieldset>
				<input type="text" name="q" id="search-text" size="15" onBlur="if(this.value=='') this.value='$web_indexsearch$';" 
onfocus="if(this.value=='$web_indexsearch$') this.value='';" value="$web_indexsearch$" /><input type="submit" id="search-submit" value="搜 寻" />
				</fieldset>
			</form>
		</div>
		<div class="clearfix"></div>
	</li>		
				<li>
					<h2>个人档案</h2>
					<p class="myphoto"><img src="/images/up_images/$web_image$" width="80" height="89"></p>
					<p class="myintro">$web_person$<br>$web_birthdate$<br>$web_birthplace$<br>$web_email$</p>
					<p class="clearfix">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$web_shortintro$</a></p>
					</li>
				<li>
					<h2>精彩相册</h2>
<!--slide album start-->
<div id="slidebox">
	<div id="slider">
$web_slidealbum$
	</div>
<script type="text/javascript">
/* ==== start script ==== */
slider.init();
</script>
</div>
<!--slide album end-->
				</li>
				<li>
					<h2>博客分类</h2>
$web_category$
				</li>
				<li>
					<h2>热门文章</h2>
$web_hotart$
				</li>
				<li>
					<h2>友情链接</h2>
<div class="FriendLink">$web_link$</div>
				</li>
			</ul>
		</div>	
	<!-- content-wrap ends-->	
	</div>
		
	<!-- footer starts -->		
<div id="footer">
<div class="bottom_logo"><a href="http://www.hitux.com/" target="_blank"><img src="/images/up_images/top_logo.jpg" width="100" height="40"></a></div>
<div class="bottom_txt">$web_copyright$</div>
<div class="clearfix"></div>
	</div>
<!-- footer ends-->
</div>
<!-- wrap ends here -->
</div>
</body>
</html>

