<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>$web_title$</title>
<meta name="keywords" content="$web_keywords$" />
<meta name="description" content="$web_description$" />
<link rel="shortcut icon" href="favicon.ico" >
<link href="/css/$web_theme$/style.css" rel="stylesheet" type="text/css" media="screen" />
<script  language="javascript" src="/js/slidealbum.js"></script>
</head>
<body>
<div id="wrapper">
	<div id="header">
    <div class="logoBG">
		<div id="logo">
        <div class="left">
		<h1><a href="/" title="$web_name$">$web_name$</a></h1>		
		<p id="slogan">$web_slogan$</p>	
                    </div>
		<div id="search">
			<form method="get" action="/query/index.asp">
				<input type="text" name="q" id="search-text" size="15" onBlur="if(this.value=='') this.value='请输入关键词';" 
onfocus="if(this.value=='请输入关键词') this.value='';" value="请输入关键词" /><input type="submit" id="search-submit" value="搜 寻" />
			</form>
		</div></div>
        
		</div><div class="clearfix"></div>
        <div class="menuBG"><div id="menu">
$web_menu$	</div>
                </div>
	</div>
	<div id="page">
		<div id="content">
<div class="Web_Date"><script  language="javascript" src="/js/date.js"></script></div>
		<div class="clearfix"></div>		
$web_articlelist$	
<div class="morearticle"><a href="/$Blog_FolderName$/">查看更多文章>>></a></div>	
			<div style="clear: both;">&nbsp;</div>
		</div>
		<div id="sidebar">
			<ul>	
				<li>
					<h2>个人档案</h2>
					<p class="myphoto"><img src="/images/up_images/$web_image$" width="80" height="89"></p>
					<p class="myintro">$web_person$<br>$web_birthdate$<br>$web_birthplace$<br>$web_email$</p>
					<p class="clearfix">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$web_shortintro$</a></p>
					</li>
				<li>
					<h2>精彩相册</h2>
<!--slide album start-->
<div id="slidebox">
	<div id="slider">
$web_slidealbum$
	</div>
<script type="text/javascript">
/* ==== start script ==== */
slider.init();
</script>
</div>
<!--slide album end-->
				</li>
				<li>
					<h2>博客分类</h2>
$web_category$
				</li>
				<li>
					<h2>热门文章</h2>
$web_hotart$
				</li>
				<li>
					<h2>友情链接</h2>
<div class="FriendLink">$web_link$</div>
<div class="clearfix"></div>
				</li>
			</ul>
		</div>
		<br class="clearfix" />
	</div>
</div>
<div id="footer">
	<p>$web_copyright$</p>
</div>
</body>
</html>
